{
  // 编辑器设置
  "editor.tabSize": 2,
  "editor.insertSpaces": true,
  "editor.detectIndentation": false,
  "editor.formatOnSave": true,
  "editor.formatOnPaste": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true,
    "source.organizeImports": true
  },
  "editor.rulers": [80, 120],
  "editor.wordWrap": "on",
  "editor.minimap.enabled": true,
  "editor.bracketPairColorization.enabled": true,
  "editor.guides.bracketPairs": true,
  
  // 文件设置
  "files.autoSave": "onFocusChange",
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.encoding": "utf8",
  "files.eol": "\n",
  
  // 搜索设置
  "search.exclude": {
    "**/node_modules": true,
    "**/dist": true,
    "**/build": true,
    "**/.wrangler": true,
    "**/coverage": true,
    "**/.git": true
  },
  
  // 文件监视设置
  "files.watcherExclude": {
    "**/node_modules/**": true,
    "**/.wrangler/**": true,
    "**/dist/**": true,
    "**/build/**": true
  },
  
  // JavaScript/TypeScript 设置
  "javascript.preferences.quoteStyle": "single",
  "typescript.preferences.quoteStyle": "single",
  "javascript.suggest.autoImports": true,
  "typescript.suggest.autoImports": true,
  "javascript.updateImportsOnFileMove.enabled": "always",
  "typescript.updateImportsOnFileMove.enabled": "always",
  
  // ESLint 设置
  "eslint.enable": true,
  "eslint.validate": [
    "javascript",
    "javascriptreact",
    "typescript",
    "typescriptreact"
  ],
  
  // Prettier 设置
  "prettier.enable": true,
  "prettier.singleQuote": true,
  "prettier.semi": true,
  "prettier.trailingComma": "es5",
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  
  // HTML 设置
  "html.format.indentInnerHtml": true,
  "html.format.wrapLineLength": 120,
  "html.format.wrapAttributes": "auto",
  
  // CSS 设置
  "css.validate": true,
  "scss.validate": true,
  "less.validate": true,
  
  // Tailwind CSS 设置
  "tailwindCSS.includeLanguages": {
    "html": "html",
    "javascript": "javascript",
    "css": "css"
  },
  "tailwindCSS.experimental.classRegex": [
    "class[:]\\s*['\"][^'\"]*['\"]"  
  ],
  
  // Emmet 设置
  "emmet.includeLanguages": {
    "javascript": "javascriptreact",
    "typescript": "typescriptreact"
  },
  "emmet.triggerExpansionOnTab": true,
  
  // Git 设置
  "git.enableSmartCommit": true,
  "git.confirmSync": false,
  "git.autofetch": true,
  "git.enableStatusBarSync": true,
  
  // 终端设置
  "terminal.integrated.defaultProfile.osx": "zsh",
  "terminal.integrated.fontSize": 14,
  "terminal.integrated.fontFamily": "'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace",
  
  // 工作区设置
  "workbench.startupEditor": "readme",
  "workbench.editor.enablePreview": false,
  "workbench.editor.enablePreviewFromQuickOpen": false,
  "workbench.iconTheme": "material-icon-theme",
  "workbench.colorTheme": "GitHub Dark Default",
  
  // 扩展设置
  "liveServer.settings.donotShowInfoMsg": true,
  "liveServer.settings.donotVerifyTags": true,
  "liveServer.settings.port": 3000,
  
  // REST Client 设置
  "rest-client.environmentVariables": {
    "$shared": {
      "baseUrl": "http://localhost:3000"
    },
    "local": {
      "baseUrl": "http://localhost:3000"
    },
    "dev": {
      "baseUrl": "https://inspiration-collector-dev.pages.dev"
    },
    "prod": {
      "baseUrl": "https://inspiration-collector.pages.dev"
    }
  },
  
  // 代码拼写检查
  "cSpell.words": [
    "cloudflare",
    "wrangler",
    "gemini",
    "tailwindcss",
    "inspirations",
    "serverless",
    "api",
    "cors",
    "middleware",
    "async",
    "await",
    "json",
    "uuid",
    "timestamp",
    "analytics",
    "sentiment",
    "keywords",
    "summarization"
  ],
  
  // TODO Tree 设置
  "todo-tree.general.tags": [
    "BUG",
    "HACK",
    "FIXME",
    "TODO",
    "XXX",
    "[ ]",
    "[x]"
  ],
  "todo-tree.regex.regex": "((//|#|<!--|;|/\\*|^)\\s*($TAGS)|^\\s*- \\[ \\])",
  
  // 文件关联
  "files.associations": {
    "*.toml": "toml",
    "wrangler.toml": "toml",
    ".env*": "dotenv",
    "*.md": "markdown"
  },
  
  // 语言特定设置
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[markdown]": {
    "editor.defaultFormatter": "yzhang.markdown-all-in-one",
    "editor.wordWrap": "on",
    "editor.quickSuggestions": {
      "comments": "off",
      "strings": "off",
      "other": "off"
    }
  }
}